name: image-build
on:
  push:
    branches:
      - "main"
    paths:
      - "Dockerfile"
      - ".github/workflows/image-build.yaml"
      - "!**.md"

jobs:
  image-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        timeout-minutes: 5
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        timeout-minutes: 5
        with:
          images: ${{ secrets.GOOGLE_ARTIFACT_REGISTRY_LOGIN_SERVER }}/cognyx-471812/ghar-image
          tags: |
            type=raw,value={{branch}}-{{sha}}-{{date 'X'}}
            type=raw,value=latest
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        timeout-minutes: 5

      # Authenticate to Google Cloud using Service Account Key
      - name: Authenticate to GCP
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_ARTIFACT_REGISTRY_SA_KEY }}

      # Login to Azure Container Registry (ACR)
      - name: "Login to ACR"
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1
        with:
          registry: ${{ secrets.GOOGLE_ARTIFACT_REGISTRY_LOGIN_SERVER }}
          username: _json_key
          password: ${{ secrets.GOOGLE_ARTIFACT_REGISTRY_SA_KEY }}

      - name: Build and push
        uses: docker/build-push-action@v6
        timeout-minutes: 5
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
